.close{
    position: absolute;
    right: 0;
    width: fit-content;
    z-index: 5;
    background-color: white;
    opacity: 0.5;
}

.close > button{
    width: 40px;
    height: 40px;
    border-color: white;
}