
.form-content{
  width: 750px;
  margin: 0 auto;
}

.top-group{
  margin: 15px 0;
}

.float-container{
  display: flex;
  padding: 20px;
}

.float-child{
  float: right;
  margin: 0 10px;
}

.matching-rooms{
  width: 80%;
  text-align: right;
}


.container-shortInfo{
  width: 100%;
  display: flex;
  padding: 22px;
}

.shortInfo{
  width: 25%;
  display: flex;
}

.group-info{
  display: flex;
  margin: 10px 0;
}

.info{
  width: 100%;
  float: left;
  
}

.apply{
  margin-top: 10px;
  width: fit-content;
  float: right;

}

#date{
  display:inline-block;  
}

div.guest1{
  display:inline-block;
}

div#adulte1 {
background-color: rgba(194,181,155,1);
  height: 52px;
  width: 40px;
  color: white;
  cursor: pointer;
  margin-left: 12px
}

div#adulte11{
background-color: rgba(194,181,155,1);
  height: 52px;
  color: white;
  width: 40px;
  cursor: pointer;
}

div#adulte1:hover{
  background-color:white;
  border: rgba(194,181,155,1) solid 1px;
  color: rgba(194,181,155,1);
  }

div#adulte11:hover{
  background-color:white;
  border: rgba(194,181,155,1) solid 1px;
  color: rgba(194,181,155,1);
  } 

input.adulte {
  background-color: white;
  border: rgba(194,181,155,1) solid 1px;
  text-align: center;
  font-size: 16px;
  border-radius: inherit;
  height: 52px;
  min-width: 0px;
  width: 100px;
}

div.guest2{
display:inline-block;
}

div#enfant1 {
background-color: rgba(194,181,155,1);
height: 52px;
width: 40px;
color: white;
cursor: pointer;
margin-left: 12px
}

div#enfant1:hover{
background-color:white;
border: rgba(194,181,155,1) solid 1px;
color: rgba(194,181,155,1);
}

div#enfant11{
background-color: rgba(194,181,155,1);
  height: 52px;
  color: white;
  width: 40px;
  cursor: pointer;
}

div#enfant11:hover{
background-color:white;
border: rgba(194,181,155,1) solid 1px;
color: rgba(194,181,155,1);
}

input.enfant {
background-color: white;
border: rgba(194,181,155,1) solid 1px;
text-align: center;
font-size: 16px;
border-radius: inherit;
height: 52px;
min-width: 0px;
width: 100px;
margin-top: 1px
}

.age {
background-color: white;
border: rgba(194,181,155,1) solid 1px;
font-size: 16px;
border-radius: inherit;
height: 50px;
min-width: 0px;
width: 180px;
}

p#moins {
text-align: center;
font-size: x-large;
padding-top: 3px;
}
p#add {
text-align: center;
font-size: x-large;
padding-top: 3px;

}

#PersonIcon{
transform: scale(1.9);
margin-top: 20px;
}

#guests{
margin-bottom: 0px;
font-family: 'Roboto';
color: blue;
font-weight: bold;
margin-left: 12px;
}

div#client{
display: inline-block;
}

.guests {
margin-left: 28px;
}

.PersonIcon {
position: absolute;
margin-top: 8px;
width: fit-content;
}

#NbGuest {
font-family: 'Roboto';
color: black;
margin-left: 30px;
}

.client{
cursor: pointer;
}

button#toggle {
position: absolute;
width: 156px;
height: 48px;
margin-left: 22px;
margin-top: 10px;
}

div#modal1 {
padding: 40px 33px 0px 30px;
margin-left: 48px;
margin-top: 8px;
}

#adultes{
font-family: 'Roboto';
}

#enfants{
font-family: 'Roboto';
}

#bigLabel{
  color: #616569;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  }

#litleLabel{
color: black;
font-family: 'Roboto', sans-serif;
font-size: 14px;
}

.closeBtn{
  float: right;
  border: 2px solid blue;
}
