.container{
margin-top: 140px;
}
.jumbotron{
    padding: 20px 70px 20px 70px;
    }
    
    #title1{
        font-family: 'Roboto', sans-serif;
        color: #1976d2;
    }

#litleLabel{
color: black;
font-family: 'Roboto', sans-serif;
font-size: 15px;
}

#bigLabel{
    color: #616569;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    }

#column{
    display:inline-block;
}

.col2{
margin-left: 40px;
}