.container{
margin-right: auto;
margin-left: auto;
}
.jumbotron{
padding: 20px 70px 20px 70px;
width: 75%;
}
.jumbotron1{
    width: 1200px;
    padding: 20px 70px 20px 70px;
    }
#title1{
    font-family: Arial, Helvetica, sans-serif;
    color: #293846;
}

#bigLabel{
    color: #616569;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    }

#litleLabel{
color: black;
font-family: 'Roboto', sans-serif;
font-size: 14px;
}

#guest{
display:inline-block;
}

.plus{
display:inline-block;    
}

#plus{
    background-color: gainsboro;
    margin-top:40px;
}
