header{
    box-shadow: none !important;
    background-color:rgb(246, 248, 252) !important;
  }
  header .MuiTypography-root,
  header .MuiButton-root,
  header .MuiButtonBase-root{
    color: #333 !important;
    border-color: rgba(128,128,128,1);
  }
  header .MuiButtonBase-root:nth-child(2){
    color: #fff !important;
    background-color: #333 !important;
  }

#title11{
  text-align: center;
  font-family: 'Roboto';
  color: #1976d2;
  text-decoration: underline;
  }

  div#buttons {
    text-align: center;
    margin-top: 10px;
}

.register {
  margin-top: 10px;
}

button#register {
  text-decoration: underline black;
}

.mdp {
  margin-top: 10px;
}

button#mdp {
  text-decoration: underline black;
}

.title11{
margin-top: 10px;
}

  