header{
    box-shadow: none !important;
    background-color:rgb(246, 248, 252) !important;
  }
  header .MuiTypography-root,
  header .MuiButton-root,
  header .MuiButtonBase-root{
    color: #333 !important;
    border-color: rgba(128,128,128,1);
  }
  header .MuiButtonBase-root:nth-child(2){
    color: #fff !important;
    background-color: #333 !important;
  }
  