#navbar{
  width: 100%;
  height: auto;
  background-color: #2F4050;
  position: fixed;
  top: 0; 
  left: 0;
  display: block; 
}

.MuiTabs-root{
  width: 60%;
  margin: 0 auto;
}
.MuiTabs-flexContainer{
  justify-content: center;
}
.MuiButtonBase-root{
  color: rgb(224, 219, 219) !important;
}