.sidelist{
    width: 287px;
    position: absolute;
    left: 0;
    bottom: 0;
}
.sideElt > span{
    width: 200px;
    display: inline-block;
}
.sideElt > button{
    display: relative;
    width: 75px;
    display: inline-block;
    top: -15px;
    left: 195px;
}
.sidelist ul{
    list-style-type: none;
    padding-left: 0 !important;
    border-right: 1px solid #e0e0e0;
    margin-bottom: 0 !important;
}
.sidelist ul > li{
    height: 50px;
    border-bottom: 1px solid #e0e0e0;
    padding-top:12px;
}
.sidelist ul > li:first-child{
    border-top: 1px solid #e0e0e0;
    padding-top:9px;
}
.sidelist ul > li:nth-child(2),
.sidelist ul > li:nth-child(4){
    padding-top: 0px;
    height: 25px !important;
}
.sidelist ul > li > span{
    padding-left: 8px !important;
    font-size: 12px !important;
}
.sidelist button{
    margin-left:8px !important;
}