body{
    min-height: 100% !important;
    background-color: rgb(246, 248, 252) !important;
}

/* header */
.filter {
    width: 100%;
    height: 100px;
    background-color: rgba(128,128,128,1);
    padding-top: 20px;
}
.filter > div{
    justify-content: center;
}

.filter > div > div:nth-child(2), .filter > div > div:last-child{
    Background-color: #fff !important;
    border: 8px solid #f9fafb;
    border-radius: 3px;
}
.filter > div > button {
    Background-color: #fff !important;
    color: #084298 !important;
    display: none;
}

.filter2 {
    background-color: rgba(128,128,128,1);
}

.filter2 > div > div{
    Background-color: #fff !important;
    border: 8px solid #f9fafb;
    border-radius: 3px;
}

.resultsFilter{
    justify-content: center;
    min-height: 60px;
    gap: 24px;
    align-items: center;
    background-color: #f2f2f2 !important;
    box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
}

.resultsFilter > button {
    color: #fff !important;
    background-color: rgba(128,128,128,1) !important;
}

.sidetitle{
    display: block;
    background-color:#2d899e;
    color: #fff;
    text-align: center;
    padding: 5px;
}

.reservation .sidetitle{
    background-color:rgba(128,128,128,1);
}

/* tarifChambre */

.tarifChambre > div > div {
    margin-bottom: 24px;
}

/* type chambre */

.listChambre{
    margin-bottom: 24px;
}

.listChambre > div > div:first-child{
    text-align: left;
}

.listChambre > div > div:first-child > div:nth-child(2){
    max-height: 180px;
    position: relative;
}

.listChambre > div > div:first-child > div:nth-child(2) span:first-of-type{
    font-weight: bold;
    font-size:large;
    border-bottom: 2px solid #ffc107;
    color: #000;
}

.listChambre > div > div:first-child > div:nth-child(2) span:nth-of-type(2){
    font-size: 12px;
    color: #000;
}

.listChambre > div > div:first-child > div:nth-child(2) span:nth-of-type(2) svg{
    font-size: 14px;
}

.listChambre > div > div:first-child > div:nth-child(2) span:nth-of-type(2){
    margin-top:8px;
    margin-bottom: 8px;
    display:block;
    max-height: 180px;
}

.listChambre > div > div:first-child > div:nth-child(1) > div{
    background-size: cover;
    height:180px;
    box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
    border: 2px solid #e0e0e0;
}

.listChambre > div > div:first-child > div:nth-child(1) > span{
    margin-top: 12px;
    display: block;
}

.equipements{
    display: flex;
    gap:12px;
    position: absolute;
    bottom:0;
}

.equipements div{
    width: 50px;
    height: 50px;
    border: 1px solid #084298;
    display: flex;
    justify-content: center;
    align-items: center;
}

.equipements svg{
    font-size: 32px !important;
    color: #084298;
}

/* list tarif */

.listTarif{
    text-align: left;
}

.listTarif ul{
    list-style-type: none;
    width:100%;
    padding-left: 0;
}

.listTarif ul > li > div > span > i{
    color: green;
}

.listTarif ul > li > div{
    margin: 0;
}

.listTarif ul > li > div > div{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top:8px;
    padding-bottom:8px;
}

.listTarif ul > li > div > div:first-child,
.listTarif ul > li > div > div:nth-child(2){
    align-items: flex-start;
}

.listTarif ul > li > div > div:first-child{
    background-color: #fff;
    border-right: 3px solid #084298;
    color:grey;
}

.listTarif ul > li > div > div > div{
    background-color:#f6f8fd;
    color: #000;
    border-right: 5px solid #fff;
}


.listTarif ul > li > div > div > div{
    background-color:#f6f8fd;
    margin-bottom: 7px;
    width: 100%;
}

.nbPers{
    width: 75px;
    margin-top: 5px;
}

.nbPers > span{
    float: left;
}
.nbPers > span:last-child{
    display: block;
    width: fit-content;
    margin-top: -2px;
}

.listTarif ul > li > div > div > div > div:nth-child(2) > span{
    min-width: 125px;
}

.listTarif ul > li > div > div > div > div:last-child > span{
    min-width: 150px;
}

.listTarif ul > li > div > div > div > div:nth-child(2) > span{
    display: block;
}
.listTarif ul > li > div > div > div > div:nth-child(3) > span{
    display: block;
}

.listTarif ul > li > div > div > div > div:nth-child(2){
    font-size: 20px;
}

.beforeProm{
    color: #084298;
    text-decoration: line-through;
}

.afterProm{
    color: #c20808;
    font-weight: bolder;
}

.listTarif ul > li > div{
    align-items: flex-start;
}

.listTarif ul > li > div > div > div > div:nth-child(3) > span:nth-child(1){
    font-size: 12px;
}

.listTarif ul > li > div > div > div > div:nth-child(3) > span:last-child{
    font-size: 14px;
    font-weight: bold;
}

.bookNow{
    width: fit-content;
    margin: auto 0;
}

.btnVoirDetails{
    border-bottom: #fff !important;
}
/* promotions */
.promotion{
    margin-bottom: 14px;
    cursor: pointer;
}

.promotion > div > div:nth-child(2) > span:first-child {
    font-weight: bold;
    border-bottom: 1px solid #ffc107;
}

.promotion > div > div:nth-child(2) > span:nth-child(2){
    font-size: 14px;
}

.promotion > div > div:first-child > div {
    background-color: #fff;
    color: red;
    font-size: 14px;
    border: 1px solid #084298;
    font-weight: bold;
}

/** your stay **/

.stay{
    margin-bottom: 6px;
}

.stay > div:first-child > div{
    font-weight: bold;
    font-size: 12px;
    display: flex;
    justify-content: space-around;
}

.stay > div:first-child > div svg{
    margin-right: 5px;
}

.stay > div:first-child > span{
    text-align: left;
}

.stay > div:last-child button:last-child{
    color: red;
}

.stay > div:nth-child(2){
    text-align: left;
    margin-left: 14px;
    font-size: 16px;
}

.stay > div:last-child{
    justify-content: flex-end;
}

.sidetitle{
    margin-bottom:14px;
    border-radius: 5px;
}

.sidetitle > div:first-child{
    margin-bottom: 6px;
    background-color: #2d899e;
    color: #fff;
}

.sidetitle > div:first-child > p > span{
   font-weight: 500;
}

.sidetitle > div:first-child > p,
.sidetitle > div:last-child > p{
   font-size: 14px;
   margin: 6px;
   text-align: left;
}

.sidetitle > div:last-child > p > span{
   font-weight: 500;
   font-size: 16px;
}

.sidetitle > div:first-child{
    display: flex;
    justify-content:space-evenly;
}